flows.json
[
  {
    "id": "9a41222.dde8ce",
    "type": "tab",
    "label": "WoT Hackadeira",
    "disabled": false,
    "info": ""
  },
  {
    "id": "7577a77a.89dcb8",
    "type": "rpi-dht22",
    "z": "9a41222.dde8ce",
    "name": "",
    "topic": "rpi-dht11",
    "dht": "11",
    "pintype": "0",
    "pin": "4",
    "x": 560,
    "y": 280,
    "wires": [["d63a1547.5aaac8"]]
  },
  {
    "id": "d63a1547.5aaac8",
    "type": "function",
    "z": "9a41222.dde8ce",
    "name": "Air Data",
    "func": "let payload = {\n    temperature: Number(msg['payload']),\n    humidity_air: Number(msg['humidity'])\n}\nmsg['payload'] = payload;\nreturn msg;",
    "outputs": 1,
    "noerr": 2,
    "x": 700,
    "y": 280,
    "wires": [["4714f8b9.bfe8b8", "e94d4d67.ee9d"]]
  },
  {
    "id": "fb6afc8d.e482",
    "type": "ncd-ads1115",
    "z": "9a41222.dde8ce",
    "name": "ads1115",
    "connection": "8e683f29.2fe3a",
    "addr": "72",
    "interval": "1000",
    "outputs": 3,
    "output_all": true,
    "output_mult": "1",
    "channel_1": "4",
    "channel_2": "5",
    "channel_3": "_none",
    "channel_4": "_none",
    "gain": "1",
    "mode": "1",
    "rate": 4,
    "compMode": 0,
    "compPol": 0,
    "compLat": 0,
    "compQueue": 3,
    "delay": "100",
    "x": 380,
    "y": 220,
    "wires": [["e65d074b.b97038"], ["cfc93e5b.83e3c"], ["7577a77a.89dcb8"]]
  },
  {
    "id": "e65d074b.b97038",
    "type": "function",
    "z": "9a41222.dde8ce",
    "name": "Humidity Soil Percentage",
    "func": "let humidity = msg['payload'];\n\nlet convert = function(n) {\n    let dry = 32000;\n    let wet = 12000;\n    if (n > dry) {\n        n = dry\n    } else if (n < wet) {\n        n = wet\n    }\n    return ((dry-n)/(dry-wet))*100;\n};\n\nmsg['payload'] = {\n    'humidity_soil': convert(humidity)\n};\n\nreturn msg;",
    "outputs": 1,
    "noerr": 2,
    "x": 700,
    "y": 160,
    "wires": [["5501cd58.5edec4", "4714f8b9.bfe8b8"]]
  },
  {
    "id": "4714f8b9.bfe8b8",
    "type": "debug",
    "z": "9a41222.dde8ce",
    "name": "debug",
    "active": true,
    "tosidebar": false,
    "console": true,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "x": 960,
    "y": 380,
    "wires": []
  },
  {
    "id": "cfc93e5b.83e3c",
    "type": "function",
    "z": "9a41222.dde8ce",
    "name": "Luminosity Percentage",
    "func": "let val = msg['payload'];\n\nlet convert = function(n) {\n    let bright = 18000;\n    let dark = 300;\n    if (n > bright) {\n        n = bright\n    } else if (n < dark) {\n        n = dark\n    }\n    return ((n-dark)/(bright-dark))*100;\n};\n\nmsg['payload'] = {\n    'luminosity': convert(val)\n};\n\nreturn msg;",
    "outputs": 1,
    "noerr": 2,
    "x": 710,
    "y": 220,
    "wires": [["16b1a69b.e19949", "4714f8b9.bfe8b8"]]
  },
  {
    "id": "8afdf5c9.c5f028",
    "type": "mqtt out",
    "z": "9a41222.dde8ce",
    "name": "",
    "topic": "hackadeira/luminosity",
    "qos": "",
    "retain": "",
    "broker": "919821b9.1a89b",
    "x": 1130,
    "y": 220,
    "wires": []
  },
  {
    "id": "c0741e51.168d1",
    "type": "mqtt out",
    "z": "9a41222.dde8ce",
    "name": "",
    "topic": "hackadeira/dht",
    "qos": "",
    "retain": "",
    "broker": "919821b9.1a89b",
    "x": 1100,
    "y": 280,
    "wires": []
  },
  {
    "id": "eb9e9393.848b1",
    "type": "mqtt out",
    "z": "9a41222.dde8ce",
    "name": "",
    "topic": "hackadeira/humidity_soil",
    "qos": "",
    "retain": "",
    "broker": "919821b9.1a89b",
    "x": 1140,
    "y": 160,
    "wires": []
  },
  {
    "id": "e94d4d67.ee9d",
    "type": "json",
    "z": "9a41222.dde8ce",
    "name": "",
    "property": "payload",
    "action": "",
    "pretty": false,
    "x": 930,
    "y": 280,
    "wires": [["c0741e51.168d1"]]
  },
  {
    "id": "16b1a69b.e19949",
    "type": "json",
    "z": "9a41222.dde8ce",
    "name": "",
    "property": "payload",
    "action": "",
    "pretty": false,
    "x": 930,
    "y": 220,
    "wires": [["8afdf5c9.c5f028"]]
  },
  {
    "id": "5501cd58.5edec4",
    "type": "json",
    "z": "9a41222.dde8ce",
    "name": "",
    "property": "payload",
    "action": "",
    "pretty": false,
    "x": 930,
    "y": 160,
    "wires": [["eb9e9393.848b1"]]
  },
  {
    "id": "8e683f29.2fe3a",
    "type": "ncd-comm",
    "z": "",
    "name": "",
    "bus": "i2c-1",
    "commType": "standard",
    "addr": "0",
    "useMux": false,
    "muxAddr": "112",
    "muxPort": "0"
  },
  {
    "id": "919821b9.1a89b",
    "type": "mqtt-broker",
    "z": "",
    "name": "HiveMQ",
    "broker": "mqtt://broker.hivemq.com",
    "port": "1883",
    "clientid": "",
    "usetls": false,
    "compatmode": false,
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": "",
    "closeTopic": "",
    "closeQos": "0",
    "closePayload": "",
    "willTopic": "",
    "willQos": "0",
    "willPayload": ""
  }
]
